.c4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 5vw;
    /* margin-bottom: 6vw; */
    padding: 3vw 0;
    box-shadow: 0px 2px 1px whitesmoke;
    padding-top: 1vw;
    position: relative;
    top: 19%;
    width: 100vw;
}


.citem a img{
    height: 50vh;

    @media(max-width:1186px)
    {
        height: 29vh;
    }
    @media(max-width:705px)
    {
        height: 22vh;
    }
    @media(max-width:480px)
    {
        height: 16vh;
    }
}