.text{
    text-align: center;
    padding: 3vw;
    /* border: 2px solid black; */
    /* margin-top: 25vh; */
    position: relative;
    top: 19%;
    width: 100vw;
    
    background:linear-gradient(
                to right,
                white,
                white,
                white,
                white,
                white,
                white,
                orange,
                pink,
                purple,
                blue,
                white,
                white,
                white,
                white,
                white,
                white
    );       

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1{
    font-weight: bold;
    font-size: 2.2rem;

    @media(max-width:1372px){
        font-size:  2rem !important;
        background:linear-gradient(
                to right,
                white,
                white,
                white,
                orange,
                pink,
                purple,
                blue,
                white,
                white,
                white
         );   
         background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.text h1{
    margin: 2vh 0;
}